.box{
    background: white;
  }
  .remove-button {
      background-color: transparent;
      border: none;
      color: red; 
      cursor: pointer;
      font-size: 16px; 
      margin: 0;
      padding: 0;
    }
    